<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{fragments/layouts :: header}">
    <title>Список сотрудников</title>
</head>
<body>
<div th:replace="~{fragments/layouts :: menu}"></div>
<h2 class="text-center">Список сотрудников</h2>
<hr>

<div class="container">
    <a th:href="@{/performers/create}" class="btn btn-success">Создать</a>
    <table class="table table-striped table-hover table-responsive-md">
        <thead>
        <tr>
            <th scope="col">username</th>
            <th scope="col">telegram_id</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Номер телефона</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${performers}">
            <td th:text="${user.user.login}"/>
            <td th:text="${user.user.telegramId}"/>
            <td th:text="${user.firstName}"/>
            <td th:text="${user.lastName}"/>
            <td th:text="${user.phoneNumber}"/>
            <td>
                <a th:href="@{/performers/update/{id}(id=${user.id})}" class="btn btn-primary">Изменить</a>
                <a th:href="@{/performers/delete/{id}(id=${user.id})}" class="btn btn-secondary">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>

